#app {
    font-family: "Noto Sans", sans-serif;  
    font-size: 18px; 
}

.navbar {
    background-color: #ffffff !important;
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: "Lato", serif; 
}
  
a, .link { 
    text-decoration-line: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.1em;
    color: #990000; 
}
  
a:hover, .link:hover {
    text-decoration-thickness: max(3px, 0.1875rem);
    text-underline-offset: 0.1em;
    color: #990000;
}
  
a.none {
    text-decoration-line: none;
    color: #000000; 
}

img.author_avatar {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    
    box-shadow: -1px 3px 6px 0px #383838;
}

.social .contact-icons {
    font-size: 3rem;
    display: inline-block;
    line-height: 65px;
    text-align: center;
    vertical-align: baseline;
}

.social .contact-icons a {
    color: black;
    margin-right: 6px;
}

.social .contact-icons a:hover {
    color: #990000;
}

div.projets img.screen {
    margin-bottom: 10px;
    max-width: 500px;
    width: 100%;
    display: block;
}
  
img.button { max-width: 150px !important; }
  
.nopadding {
    padding: 0;
}

/* 
https://www.gov.uk/government/news/winners-of-51-million-government-competition-to-develop-world-leading-self-driving-car-testing-infrastructure-unveiled 
*/
p.number { text-transform: uppercase; margin-bottom: 0px; }
p.title { font-weight: bold; margin: 0px; }
p.subtitle { font-weight: normal; margin: 0px; }
p.parenthesis { margin: -4px 0px 2px 0px; }
table.mfq { border-top: 2px solid black; border-bottom: 2px solid black; width: 100%; max-width: 100%; margin-bottom: 30px; }
table.mfq thead { color: black; font-weight: normal; vertical-align: bottom; }
table.mfq thead tr th { font-weight: bold; text-align: left; white-space: normal; }
table.mfq thead tr td { font-weight: bold; text-align: right; white-space: normal; width: 80px; }
table.mfq thead tr td.center { text-align: center; border-bottom: 1px solid black; }
table.mfq tbody tr th { font-weight: normal; text-align: left; vertical-align: bottom; word-wrap: break-word; }
table.mfq tbody tr th.normal { white-space: normal; }
table.mfq tbody tr td { font-weight: normal; text-align: right; vertical-align: bottom; padding-left: 10px; white-space: nowrap; }
table.mfq tbody tr.bold th { font-weight: bold; }
table.mfq tbody tr.bold td { font-weight: bold; }
table.mfq tbody tr.grey th { background-color: #EEEEEE; }
table.mfq tbody tr.grey td { background-color: #EEEEEE; }
table.mfq tbody tr.line th { border-top: 1px solid black; }
table.mfq tbody tr.line td { border-top: 1px solid black; }
table.mfq tbody tr.subtotal th { border-top: 0px solid black; font-weight: bold; }
table.mfq tbody tr.subtotal td { border-top: 1px solid black; font-weight: bold; }
table.mfq tbody tr.total th { border-top: 1px solid black; font-weight: bold; }
table.mfq tbody tr.total td { border-top: 1px solid black; font-weight: bold; }
img.chart { margin-top: 3px; margin-bottom: 3px; }
table.footnote { font-size: 12px; border-collapse: collapse; margin-top: 2px; }
table.footnote tbody tr th { font-weight: normal; text-align: left; vertical-align: top; padding: 0px 4px 0px 0px; }
table.footnote tbody tr td { text-align: left; vertical-align: top; padding: 0px 4px 0px 0px; }


/* Pour ajuster la couleur des ligens dans tax calculator */
div.tax a, .link {
    text-decoration-line: none;
    color: #1060FF;
}
  
div.tax a:hover, .link:hover {
    text-decoration-line: underline;
    text-decoration-thickness: max(3px, 0.1875rem);
    text-underline-offset: 0.1em;
    color: #1060FF;
}



/* Bootstrap 5.0 */
span.badge.bg-light.text-dark { border: 1px solid #e1e1e1; }
span.badge.bg-light.text-dark a { color: #333; text-decoration: none; }
  
.dropdown-item.active {
    color: #212529;
    background-color: transparent;
}
  
@media print {
    @page { size: letter; }
    body { margin-top: 10px; margin-bottom: 10px; }
    #navbar { display: none; }
    #z1 { margin-top: 0; padding-top: 0; }
    #z2 { margin-top: 0; padding-top: 0; }
}
 